NEXT_PUBLIC_SUPABASE_URL=https://npyxbogffbojqqujnurv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5weXhib2dmZmJvanFxdWpudXJ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMwMjI3NDcsImV4cCI6MjA3ODU5ODc0N30.EtYzNLkXilB9-cEzOV-NSoVYK0lY4lbz98syL17vMyg